<div class="topbar-container">
  <a style="text-decoration: none; color: #000000" routerLink="/">
    <p>{{ company_name }}</p>
  </a>
  <div style="margin-left: 2rem">
    <!-- issues with active route -->
    <!-- <a
      class="button"
      routerLink="/"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Home</a
    > -->
    <a
      class="button"
      routerLink="/blogs"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Blogs</a
    >
    <a
      class="button"
      routerLink="/contact"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Contact</a
    >
    <a
      class="button"
      routerLink="/reviews"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Reviews</a
    >
  </div>
</div>
