/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: Inter;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

ul,
ol {
  padding-left: 4rem;
}

li {
  font-size: 2rem;
  padding-left: 1rem;
}

a {
  margin: 0 1rem;
}

label {
  text-align: left;
}
input {
  width: 100%;
  margin-bottom: 1rem;
  flex-grow: 1;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
}
input:focus {
  border-bottom: 1px solid greenyellow;
}
textarea {
  padding: 1rem 2rem;
  border-radius: 4px;
}
textarea:focus {
  border: 1px solid greenyellow;
}
.btn-primary {
  padding: 1rem 4rem;
  background: olivedrab;
  color: bisque;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.btn-primary:hover {
  background-color: rgb(14, 181, 59);
}
@media only screen and (max-width: 960px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.2rem;
  }

  li {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1rem;
  }

  li {
    font-size: 1rem;
  }
}
